#ui {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
}

.menu-option {
  width: 64px;
  height: auto;
  image-rendering: pixelated;
}

#battle-box {
  position: relative;
  width: 300px;
  height: 200px;
  margin: auto;
  border: 2px solid white;
  display: none;
  background-color: black;
}

#soul {
  position: absolute;
  width: 16px;
  height: 16px;
  image-rendering: pixelated;
}

.bullet {
  position: absolute;
}
